.mainClassContainer {
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1000px;
  min-width: 700px;
}

.mainNumber {
  font-size: 48px;
  margin-bottom: 0px;
}

.mainName {
  margin-top: 0px;
  font-size: 24px;
}

.starsContainer {
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }
}

.modalOverlay {
  z-index: 100;
}

.review {
  position: relative;
  padding: 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  display: flex;
  p {
    font-size: 20px;
  }
  .reviewAuthor {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .reviewInfo {
    margin-top: 10px;
  }
  .reviewStarsContainer {
    h2 {
      font-size: 16px;
      width: 110px;
    }
    .starContainer {
      display: flex;
    }
  }
  .leftReview {
    width: 45%;
  }
  .rightReview {
    width: 55%;
    margin-left: 40px;
    h2 {
      font-size: 20px;
      margin-top: 0px;
    }
  }
  .reviewExpand {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
