.select-semester {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.select-text {
  margin-right: 20px;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .entry {
    margin: 0 auto;
    height: 325px;
    width: 850px;
    display: flex;
    margin-bottom: 40px;
    .leftEntry {
      width: 250px;
      p {
        font-size: 20px;
        margin-top: 0px;
      }
      .searchbar {
        margin-top: 10px;
      }
      input {
        width: 180px;
        height: 25px;
        font-size: 16px;
        border-radius: 15px;
        padding-left: 15px;
        border: none;
        border: solid 1px #ccc;
      }
    }
    .mainInput {
      width: 600px;
      resize: none;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
    }
  }
  .addButton {
    width: 400px;
    margin: 0 auto;
  }
}

$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

.buttonContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.submitButton {
  display: block;
  background-color: #5981ea;
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: sticky;
  left: 5%;
  top: 125px;
  bottom: -10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transition: $transition;
  span,
  .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
  }
  span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    transition: $transition; 
    &:after {
      content: '';
      background-color: #34519b;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: 5px;
    }
  }
  .icon {
    width: 28%;
    right: 3px;
    transition: $transition;
    top: 10px;
  }
  &.success,
  &:hover {
    span {
      left: -72%;
      opacity: 0;
    }
    .icon {
      width: 100%;
      
      .fa {
        font-size: 45px;
      }
    }
  }
  &:hover {
    opacity: .9;
  }
  &:active {
    opacity: 1;
  }
}

.addButton {
  display: block;
  background-color: #4BB543;
  width: 125px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: sticky;
  bottom: -10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transition: $transition;
  margin-right: 30px;
  span,
  .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
  }
  span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    transition: $transition; 
    &:after {
      content: '';
      background-color: #388a32;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: 8px;
    }
  }
  .icon {
    width: 28%;
    right: 5px;
    transition: $transition;
    top: 10px;
  }
  &.success,
  &:hover {
    span {
      left: -72%;
      opacity: 0;
    }
    .icon {
      width: 100%;
      
      .fa {
        font-size: 45px;
      }
    }
  }
  &:hover {
    opacity: .9;
  }
  &:active {
    opacity: 1;
  }
}

.removeButton {
  display: block;
  background-color: #c0392b;
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: sticky;
  bottom: -10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transition: $transition;
  span,
  .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
  }
  margin-right: 30px;
  span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    transition: $transition;
    
    &:after {
      content: '';
      background-color: #a53125;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: 2px;
    }
  }
  
  .icon {
    width: 28%;
    right: 3px;
    transition: $transition;
    top: 10px;
  }
  
  &.success,
  &:hover {
    
    span {
      left: -72%;
      opacity: 0;
    }
    
    .icon {
      width: 100%;
      
      .fa {
        font-size: 45px;
      }
    }
  }
  &:hover {
    opacity: .9;
  }
  
  &:active {
    opacity: 1;
  }
}